# Proyecto análisis de conversación de mensajería

## Cargar datos
- Exportar una conversación personal o grupal de Whastapp o Telegram en un formato adecuado (JSON, CSV, etc), no exportar audios, archivos multimedia, etc
- Importar archivo y convertirlo en dataframe
- Obtener y graficar los siguientes datos. Elegir el gráfico que mejor represente los datos

In [7]:
import json
import datetime 
import pandas as pd


chat = open('data/result.json', encoding='utf8')

data = json.load(chat)

df = pd.DataFrame(data["messages"])
df

,id,type,date,actor,actor_id,action,inviter,text,from,from_id,members,edited,reply_to_message_id,file,mime_type
0,1055,service,2021-08-09T15:36:57,Delfina Quinteros,user991384208,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1056,service,2021-08-09T15:37:13,Enzo Fernandez,user1726569146,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1057,service,2021-08-09T15:38:24,Lucas Ollarce,user623280426,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1058,service,2021-08-09T15:39:00,Bruno,user1133965522,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1059,service,2021-08-09T16:27:09,Santiago Martinez,user807010702,join_group_by_link,Group,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,1207,message,2021-09-27T20:21:52,NaN,NaN,NaN,NaN,Les dejo los links a videos y material en PowerBi,Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
90,1208,message,2021-09-27T20:22:06,NaN,NaN,NaN,NaN,"[El video que vimos: , {'type': 'link', 'text'...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
91,1209,message,2021-09-27T20:25:27,NaN,NaN,NaN,NaN,"[Este otro ejemplo del que les hable, panel d...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
92,1210,message,2021-09-27T20:29:53,NaN,NaN,NaN,NaN,"[En esta página, encuentran datasets de difer...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN
93,1219,message,2021-09-27T23:31:26,NaN,NaN,NaN,NaN,"Chicos, ya está en la cátedra virtual, el tr...",Gabriel Arenas 🇦🇷,user192620519,NaN,NaN,NaN,NaN,NaN

### Cantidad de mensajes enviados por cada usuario

In [8]:
groups = ['from']
df.groupby(groups, as_index=False).agg(mensajes = ('text', 'count'))

                             from  mensajes
0   Andrea Navarro (juncotic.com)         3
1                         Arian M         8
2                           Bruno         1
3                    Daniel Beato         2
4                  Danilo Verardo         1
5               Delfina Quinteros         2
6                         Douglas         2
7                  Emiliano Muñoz         3
8                  Enzo Fernandez         1
9                       Facu Luna         1
10                     Fede Pardo         4
11              Gabriel Arenas 🇦🇷        13
12            Giancarlo Galvarini         2
13              Juan Pablo Garcia         1
14                 Juli Navarrete         2
15                      Lautaro G         3
16                  Lucas Galdame         6
17                  Lucas Ollarce         1
18                         Matias         1
19               Nicolás Olivares         1
20      Ramiro Alberto Giandinoto         5
21              Santiago Martinez         2
22                Santiago Moyano         2
23                 Santiago Riera         2
24                           Yago         3
25                      jose Ruti         1
26                         seba F         2

### Promedio de palabras utilizadas por mensaje por cada usuario

In [9]:
df['total_words'] = [len(str(x).split(" ")) for x in df['text']]
df.groupby(['from'])[['total_words']].mean()

                               total_words
from
Andrea Navarro (juncotic.com)     4.666667
Arian M                           4.250000
Bruno                             4.000000
Daniel Beato                      3.000000
Danilo Verardo                    8.000000
Delfina Quinteros                 7.000000
Douglas                           4.500000
Emiliano Muñoz                    6.333333
Enzo Fernandez                    4.000000
Facu Luna                         4.000000
Fede Pardo                        2.250000
Gabriel Arenas 🇦🇷                33.538462
Giancarlo Galvarini               2.500000
Juan Pablo Garcia                 7.000000
Juli Navarrete                    5.000000
Lautaro G                         5.000000
Lucas Galdame                     4.166667
Lucas Ollarce                     4.000000
Matias                            4.000000
Nicolás Olivares                  4.000000
Ramiro Alberto Giandinoto         4.400000
Santiago Martinez                 2.500000
Santiago Moyano                   4.500000
Santiago Riera                    7.500000
Yago                              3.000000
jose Ruti                         4.000000
seba F                            7.500000

### Porcentaje de mensajes enviados por cada usuario

In [10]:
total_messages = df['id'].count()
df.groupby(
    ['from'],
    as_index=False
).agg(average=('id', lambda x: (x.count()/total_messages)*100))

                             from    average
0   Andrea Navarro (juncotic.com)   3.191489
1                         Arian M   8.510638
2                           Bruno   1.063830
3                    Daniel Beato   2.127660
4                  Danilo Verardo   1.063830
5               Delfina Quinteros   2.127660
6                         Douglas   2.127660
7                  Emiliano Muñoz   3.191489
8                  Enzo Fernandez   1.063830
9                       Facu Luna   1.063830
10                     Fede Pardo   4.255319
11              Gabriel Arenas 🇦🇷  13.829787
12            Giancarlo Galvarini   2.127660
13              Juan Pablo Garcia   1.063830
14                 Juli Navarrete   2.127660
15                      Lautaro G   3.191489
16                  Lucas Galdame   6.382979
17                  Lucas Ollarce   1.063830
18                         Matias   1.063830
19               Nicolás Olivares   1.063830
20      Ramiro Alberto Giandinoto   5.319149
21              Santiago Martinez   2.127660
22                Santiago Moyano   2.127660
23                 Santiago Riera   2.127660
24                           Yago   3.191489
25                      jose Ruti   1.063830
26                         seba F   2.127660

### Frecuencia de envío de mensaje dependiendo la hora del día

In [11]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%dT%H:%M:%S')
groups = [df['date'].dt.hour]
df_aux = df.groupby(groups).agg(frecuency=('id','count'))
df_aux

      frecuency
date
9             1
10            1
12            1
15            5
16            8
17           30
18           34
19            8
20            5
23            1

### Frecuencia de envío de mensaje dependiendo del día de la semana

In [12]:
groups = [df['date'].dt.weekday]
df_aux = df.groupby(groups).agg(frecuency=('id','count'))
df_aux

      frecuency
date
0            87
5             4
6             3

### Hora del día preferida por cada usuario para enviar mensajeszz

In [13]:
groups = ["from"]
df.groupby(groups).agg(preferida = ("date", lambda x: x.dt.hour.mode()))

                              preferida
from
Andrea Navarro (juncotic.com)        17
Arian M                              18
Bruno                                18
Daniel Beato                   [10, 18]
Danilo Verardo                       17
Delfina Quinteros              [17, 18]
Douglas                        [17, 19]
Emiliano Muñoz                       17
Enzo Fernandez                       19
Facu Luna                            19
Fede Pardo                           17
Gabriel Arenas 🇦🇷                    18
Giancarlo Galvarini                  18
Juan Pablo Garcia                    17
Juli Navarrete                 [17, 18]
Lautaro G                            18
Lucas Galdame                        17
Lucas Ollarce                        18
Matias                               18
Nicolás Olivares                     18
Ramiro Alberto Giandinoto            17
Santiago Martinez                    18
Santiago Moyano                [17, 18]
Santiago Riera                 [17, 18]
Yago                                 18
jose Ruti                            18
seba F                         [17, 18]

### Día de la semana preferida por cada usuario para enviar mensajes

In [14]:
groups = ["from"]
df.groupby(groups).agg(dia_preferido= ("date", lambda x: x.dt.weekday.mode()))

                               dia_preferido
from
Andrea Navarro (juncotic.com)              0
Arian M                                    5
Bruno                                      0
Daniel Beato                               0
Danilo Verardo                             0
Delfina Quinteros                          0
Douglas                                    0
Emiliano Muñoz                             0
Enzo Fernandez                             0
Facu Luna                                  0
Fede Pardo                                 0
Gabriel Arenas 🇦🇷                          0
Giancarlo Galvarini                        0
Juan Pablo Garcia                          0
Juli Navarrete                             0
Lautaro G                                  0
Lucas Galdame                              0
Lucas Ollarce                              0
Matias                                     0
Nicolás Olivares                           0
Ramiro Alberto Giandinoto                  0
Santiago Martinez                          0
Santiago Moyano                            0
Santiago Riera                             0
Yago                                       0
jose Ruti                                  0
seba F                                     0

### Cantidad promedio de mensajes enviados por hora para cada usuario

In [15]:
df['time'] = [x.hour for x in df['date']]
hours = []
for i in df['date']:
    hours.append(i.hour)
groups = [df['time'],'from']
agregar = {'id': lambda x: x.count()}
df.groupby(groups).agg(agregar)

                                    id
time from
9    Gabriel Arenas 🇦🇷               1
10   Daniel Beato                    1
12   Yago                            1
15   Ramiro Alberto Giandinoto       1
16   Andrea Navarro (juncotic.com)   1
     Ramiro Alberto Giandinoto       1
17   Andrea Navarro (juncotic.com)   2
     Arian M                         2
     Danilo Verardo                  1
     Delfina Quinteros               1
     Douglas                         1
     Emiliano Muñoz                  2
     Fede Pardo                      3
     Juan Pablo Garcia               1
     Juli Navarrete                  1
     Lautaro G                       1
     Lucas Galdame                   3
     Ramiro Alberto Giandinoto       2
     Santiago Moyano                 1
     Santiago Riera                  1
     seba F                          1
18   Arian M                         4
     Bruno                           1
     Daniel Beato                    1
     Delfina Quinteros               1
     Gabriel Arenas 🇦🇷               6
     Giancarlo Galvarini             2
     Juli Navarrete                  1
     Lautaro G                       2
     Lucas Galdame                   2
     Lucas Ollarce                   1
     Matias                          1
     Nicolás Olivares                1
     Ramiro Alberto Giandinoto       1
     Santiago Martinez               2
     Santiago Moyano                 1
     Santiago Riera                  1
     Yago                            2
     jose Ruti                       1
     seba F                          1
19   Arian M                         1
     Douglas                         1
     Emiliano Muñoz                  1
     Enzo Fernandez                  1
     Facu Luna                       1
     Fede Pardo                      1
     Gabriel Arenas 🇦🇷               1
     Lucas Galdame                   1
20   Arian M                         1
     Gabriel Arenas 🇦🇷               4
23   Gabriel Arenas 🇦🇷               1

### Cantidad de usuarios promedio que envían mensaje por cada día de la semana

In [16]:
number_of_weeks = ((df['date'].max() - df['date'].min()).days)/7
print(number_of_weeks)
groups = ['from',df['date'].dt.weekday]
print(df['from'].unique())
df_aux = df.groupby( groups).agg(total_messages=('from',lambda x: x.count()/number_of_weeks)
                       )
df_aux.groupby(['date']).agg(total_users = ('total_messages',lambda x: x.sum()/len(df_aux.index.unique())))

7.0
[nan 'Andrea Navarro (juncotic.com)' 'Ramiro Alberto Giandinoto' 'seba F'
 'Fede Pardo' 'Santiago Riera' 'Juan Pablo Garcia' 'Arian M' 'Lautaro G'
 'Lucas Galdame' 'Juli Navarrete' 'Emiliano Muñoz' 'Delfina Quinteros'
 'Danilo Verardo' 'Santiago Moyano' 'Douglas' 'Gabriel Arenas 🇦🇷'
 'Daniel Beato' 'Yago' 'Giancarlo Galvarini' 'Santiago Martinez' 'Bruno'
 'Matias' 'Lucas Ollarce' 'Nicolás Olivares' 'jose Ruti' 'Enzo Fernandez'
 'Facu Luna']

      total_users
date
0        0.313364
5        0.018433
6        0.013825

### Cantidad de mensajes envíados por mes

In [20]:
groups = ['from',df['date'].dt.month]
df_aux = df.groupby(groups).agg(total_messages = ('id', lambda x: x.count()))
df_aux

                                    total_messages
from                          date
Andrea Navarro (juncotic.com) 8                  3
Arian M                       8                  2
                              9                  6
Bruno                         9                  1
Daniel Beato                  9                  2
Danilo Verardo                8                  1
Delfina Quinteros             8                  1
                              9                  1
Douglas                       8                  1
                              9                  1
Emiliano Muñoz                8                  2
                              9                  1
Enzo Fernandez                9                  1
Facu Luna                     9                  1
Fede Pardo                    8                  3
                              9                  1
Gabriel Arenas 🇦🇷             8                  1
                              9                 12
Giancarlo Galvarini           9                  2
Juan Pablo Garcia             8                  1
Juli Navarrete                8                  1
                              9                  1
Lautaro G                     8                  1
                              9                  2
Lucas Galdame                 8                  3
                              9                  3
Lucas Ollarce                 9                  1
Matias                        9                  1
Nicolás Olivares              9                  1
Ramiro Alberto Giandinoto     8                  3
                              9                  2
Santiago Martinez             9                  2
Santiago Moyano               8                  1
                              9                  1
Santiago Riera                8                  1
                              9                  1
Yago                          9                  3
jose Ruti                     9                  1
seba F                        8                  1
                              9                  1

### Cantidad mínima, máxima y promedio de palabras por mensaje

In [19]:
groups = ['total_words']
agregar = {'total_words':["min", "max", "mean"]}
df.groupby(groups).agg(agregar)

            total_words
                    min  max   mean
total_words
1                     1    1    1.0
2                     2    2    2.0
3                     3    3    3.0
4                     4    4    4.0
5                     5    5    5.0
6                     6    6    6.0
7                     7    7    7.0
8                     8    8    8.0
9                     9    9    9.0
10                   10   10   10.0
11                   11   11   11.0
13                   13   13   13.0
15                   15   15   15.0
16                   16   16   16.0
19                   19   19   19.0
28                   28   28   28.0
29                   29   29   29.0
49                   49   49   49.0
63                   63   63   63.0
73                   73   73   73.0
118                 118  118  118.0